/* DEFAULT STYLES */


:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}




[data-initials]:before {
    background: #099bdd;
    color: white;
    opacity: 1;
    content: attr(data-initials);
    display: inline-block;
    font-weight: bold;
    border-radius: 50%;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.fs-sm {
    font-size: .75rem;
}




/* Text styles */
h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 500;
    font-size: 0.87rem;
}

.subsequent-text {
    font-weight: 300 !important;
    font-size: 1.125rem;
}

.truncate {
    display: -webkit-box;
    max-width: 400px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center-text {
    text-align: center !important;
}

.left-text {
    text-align: start !important;
}

.right-text {
    text-align: end !important;
}

/* Spacing */
.row-gap {
    margin: 2rem 0;
}



/* Reusable flex*/
.flex {
    display: flex !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-end {
    justify-content: end !important;
}

.align-center {
    align-items: center !important;
}

.align-end {
    align-items: end !important;
}

.wrap {
    flex-wrap: wrap !important;
}

.no-wrap {
    flex-wrap: nowrap !important;
}

.reverse-wrap {
    flex-wrap: wrap-reverse !important;
}



/* margin and padding */
.bm-5 {
    margin-bottom: 3rem !important;
}

.bm-4 {
    margin-bottom: 1.5rem !important;
}

.bm-3 {
    margin-bottom: 1rem !important;
}

.bm-2 {
    margin-bottom: .5rem !important;
}

.bm-1 {
    margin-bottom: .25rem !important;
}

.tm-5 {
    margin-top: 3rem !important;
}

.tm-4 {
    margin-top: 1.5rem !important;
}

.tm-3 {
    margin-top: 1rem !important;
}

.tm-2 {
    margin-top: .5rem !important;
}

.tm-1 {
    margin-top: .25rem !important;
}

.sm-5 {
    margin-left: 3rem !important;
}

.sm-4 {
    margin-left: 1.5rem !important;
}

.sm-3 {
    margin-left: 1rem !important;
}

.sm-2 {
    margin-left: .5rem !important;
}

.sm-1 {
    margin-left: .25rem !important;
}

.em-5 {
    margin-right: 3rem !important;
}

.em-4 {
    margin-right: 1.5rem !important;
}

.em-3 {
    margin-right: 1rem !important;
}

.em-2 {
    margin-right: .5rem !important;
}

.em-1 {
    margin-right: .25rem !important;
}

.xm-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

.xm-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.xm-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.xm-2 {
    margin-right: .5rem !important;
    margin-left: .5rem !important;
}

.xm-1 {
    margin-right: .25rem !important;
    margin-left: .25rem !important;
}

.ym-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.ym-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.ym-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.ym-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.ym-1 {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
}

.bp-5 {
    padding-bottom: 3rem !important;
}

.bp-4 {
    padding-bottom: 1.5rem !important;
}

.bp-3 {
    padding-bottom: 1rem !important;
}

.bp-2 {
    padding-bottom: .5rem !important;
}

.bp-1 {
    padding-bottom: .25rem !important;
}

.tp-5 {
    padding-top: 3rem !important;
}

.tp-4 {
    padding-top: 1.5rem !important;
}

.tp-3 {
    padding-top: 1rem !important;
}

.tp-2 {
    padding-top: .5rem !important;
}

.tp-1 {
    padding-top: .25rem !important;
}

.sp-5 {
    padding-left: 3rem !important;
}

.sp-4 {
    padding-left: 1.5rem !important;
}

.sp-3 {
    padding-left: 1rem !important;
}

.sp-2 {
    padding-left: .5rem !important;
}

.sp-1 {
    padding-left: .25rem !important;
}

.ep-5 {
    padding-right: 3rem !important;
}

.ep-4 {
    padding-right: 1.5rem !important;
}

.ep-3 {
    padding-right: 1rem !important;
}

.ep-2 {
    padding-right: .5rem !important;
}

.ep-1 {
    padding-right: .25rem !important;
}

.xp-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.xp-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.xp-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.xp-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.xp-1 {
    padding-right: .25rem !important;
    padding-left: .25rem !important;
}

.yp-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.yp-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.yp-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.yp-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

.yp-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}





/* Books */
.book>._cover {
    position: relative;
    /* Position relative to allow absolute positioning of ::after pseudo-element */
    height: 80%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .175);
    /* background-image: url('/images/placeholder.jpeg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.book>._cover::after {
    content: '';
    /* Required for pseudo-elements */
    position: absolute;
    /* Position absolutely within the .book-card */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); */
    /* Fading effect */
}

.faded {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));

}

.book._container {
    height: 25rem;
    width: 14rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.book._container * {
    margin-top: .5rem;
}

.title {
    font-size: 1.2rem !important;
    color: var(--color-dark);
    margin-bottom: 0;
}

.sub-title {
    font-size: .75rem;
    color: var(--color-dark-variant);
    font-weight: 600;

    margin: 0 !important;
    padding: 0;
}

.price {
    width: 100%;
    font-weight: 600;
    padding: 0;
    margin: 0;
    margin-top: .25rem;
    color: var(--color-dark);
}


.dp-link-group ul {
    padding: 0;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: .25rem;
}

.dp-link-group ul li a {
    color: #1e1e1e;
    text-decoration: none;
    padding-left: .25rem;
    width: 100% !important;
}

.dp-link-group ul li {
    width: 100%;
    list-style-type: none;
    padding: .30rem 0 .30rem 0;
    border-top: 1px solid lightgray;
    cursor: pointer;
}

.dp-link-group ul li:hover {
    background-color: lightgray;
}

.dp-link-group ul:first-child {
    border-top: none;
}

.dp-link-group ul:last-child {
    border-bottom: none;
}
